@page
@using RadRiderWebApp.Models
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

@* BANNER *@
<section class="z-0 mt-n5">
    <div class="banner bg-secondary">
    </div>
</section>
@* /BANNER *@

@* SKATE CARD *@
<section class="container">
    <div class="row justify-content-center" style="gap: 1rem; margin-top: 64px;">
        @foreach (var skate in Model.SkateList)
            {
                <div class="d-flex flex-column">
                    <div class="card-item d-flex flex-wrap">
                        
                        @{
                            DateTime currentDate = DateTime.Now;
                            DateTime manufacturingDate = skate.ManufacturingDate;
                            bool isNewProduct = manufacturingDate.Month == currentDate.Month &&
                                                manufacturingDate.Year == currentDate.Year;
                        }
                        @if (isNewProduct)
                        {
                            <div class="card-new-product">NOVO</div>
                        }

                        <div class="card-img">
                            <img src="@skate.ImagePath" alt=""/>
                        </div>
                        <a
                            class="card-button"
                            asp-page="/SkateDetails"
                            asp-route-slug="@skate.NameSlug"
                            asp-route-id="@skate.Id">
                            Detalhes
                        </a>
                    </div>
                    <p style="margin-top: 8px; font-size: 16px; text-transform: uppercase;">@skate.Name</p>
                    <p style="font-size:  24px; font-weight: bold;">@Html.DisplayFor(model => skate.Price)</p>
                </div>
                
            }
    </div>
</section>
@* /SKATE CARD *@