@page "/skate/{slug}/{id:int:min(1)}"
@model RadRiderWebApp.Pages.SkateDetailsModel
@{
    ViewData["Title"] = "Detalhes";
}

<section class="container">
    <h2 class="my-3">@Model.Skate.Name</h2>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid rounded" src="@Model.Skate.ImagePath">
        </div>
        <div class="col-6">
            <h4 class="my-3">Sobre:</h4>
            <p>@Model.Skate.Description</p>
            <h4 class="my-3">Mais Info:</h4>
            <ul>
                <li>
                    <label asp-for="Skate.Price"></label>:
                    @Html.DisplayFor(model => model.Skate.Price)
                </li>
                <li>
                    <label asp-for="Skate.Size"></label>:
                    @Model.Skate.Size
                </li>
                
                @if (Model.SkateModelName is not null)
                {
                    <li>
                        <label asp-for="Skate.SkateModelId"></label>:
                        @Html.DisplayFor(model => model.SkateModelName)
                    </li>
                }
                else
                {
                    <li>
                        <label asp-for="Skate.SkateModelId"></label>:
                        Genérico
                    </li>
                    
                }
                
                @if (Model.CategoryName is not null)
                {
                    <li>
                        <label asp-for="Skate.CategoryId"></label>:
                        @Html.DisplayFor(model => model.CategoryName)
                    </li>
                }
                else
                {
                    <li>
                        <label asp-for="Skate.CategoryId"></label>:
                        Genérica
                    </li>
                }
                
                @if (Model.BrandName is not null)
                {
                    <li>
                        <label asp-for="Skate.BrandId"></label>:
                        @Html.DisplayFor(model => model.BrandName)
                    </li>
                }
                else
                {
                    <li>
                        <label asp-for="Skate.BrandId"></label>:
                        Genérica
                    </li>
                }
                
                @* <li> *@
                @*     @Model.Skate.LimitedEditionFormatted *@
                @* </li> *@
                
                @{
                    DateTime currentDate = DateTime.Now;
                    DateTime manufacturingDate = Model.Skate.ManufacturingDate;
                    bool isNewProduct = manufacturingDate.Month == currentDate.Month &&
                                        manufacturingDate.Year == currentDate.Year;
                }
                 @* class="@(isNewProduct ? "Produto Novo" : "")" *@
                <li>
                    <label asp-for="Skate.ManufacturingDate"></label>:
                    @* @Html.DisplayFor(model => ) *@
                    <span>@(isNewProduct ? "Produto Novo" : "")</span>
                </li>
            </ul>
            <a class="btn my-3 btn-primary" asp-area="" asp-page="/EditSkate" asp-route-id="@Model.Skate.Id">Editar</a>
        </div>
    </div>
</section>
