@page "/skate/{slug}/{id:int:min(1)}"
@model RadRiderWebApp.Pages.SkateDetailsModel
@{
    ViewData["Title"] = "Detalhes";
}

<section class="container">
    <h2 class="my-3" style="font-size: 24px; text-align: center;">@Model.Skate.Name</h2>
    
    <div class="row">
        <div class="col-sm-12 col-lg-6 text-center mb-4 mb-lg-0">
            <img class="img-fluid rounded" src="@Model.Skate.ImagePath">
            <a
                class="card-button btn" style="position: initial; color:  white; margin-top: 12px;">
                Comprar
            </a>
        </div>
        
        <div class="col-sm-12 col-lg-6">
            <div style="font-size: 24px; font-weight: bold; color: var(--primary);">
                @Html.DisplayFor(model => model.Skate.Price)
            </div>
            
            <div class="mt-2" style="font-weight: bold">
                <label asp-for="Skate.Size"></label>:
                <div style="background-color: var(--dark); padding: 10px; width: 50px; color: white; display: flex; justify-content: center; align-items: center;">
                    @Model.Skate.Size
                </div>
            </div>
            
            <p class="mt-3" style="font-size: 16px;">@Model.Skate.Description</p>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn mt-3 btn-primary" asp-area="" asp-page="/EditSkate" asp-route-id="@Model.Skate.Id">Editar</a>
            }
        </div>
    </div>
    
    <h2 style="color: var(--dark); font-size: 24px; text-align: center; display: flex; justify-content: center; align-items: center; margin: 24px 0;">
        Mais informações:
    </h2>
    <table class="table">
        <tbody>
        <tr>
            <td style="vertical-align: middle; font-weight: bold;">
                <label asp-for="Skate.SkateModelId"></label>:
            </td>
            <td class="align-middle">
                @if (Model.SkateModelName is not null)
                {
                    @Html.DisplayFor(model => model.SkateModelName)
                }
                else
                {
                    <p>Genérico</p>
                }
            </td>
        </tr>
        <tr>
            <td class="align-middle" style="font-weight: bold">
                <label asp-for="Skate.CategoryId"></label>:
            </td>
            <td class="align-middle">
                @if (Model.CategoryName is not null)
                {
                    @Html.DisplayFor(model => model.CategoryName)
                }
                else
                {
                    <p>Genérica</p>
                }
            </td>
        </tr>
        <tr>
            <td class="align-middle" style="font-weight: bold">
                <label asp-for="Skate.BrandId"></label>:
            </td>
            <td class="align-middle">
                @if (Model.BrandName is not null)
                {
                    @Html.DisplayFor(model => model.BrandName)
                }
                else
                {
                    <p>Genérica</p>
                }
            </td>
        </tr>
        </tbody>
    </table>
</section>
